[Unit]
Description=MiSeqQC data upload

[Service]
# TODO: Update e-mail addresses to send errors to, and update path to RAW_DATA.
ExecStart=/usr/bin/python3 /opt/crontab_mail.py \
  		  --log /var/log/miseqqc_upload.log \
  		  --level ERROR \
		  --subject "MiSeqQC data upload" \
		  --from "donotreply-docker@bccfe.ca" \
		  -- \
		  "list,of,to,email,addresses" \
		  docker run --rm \
		  --env MISEQQC_DB_HOST --env MISEQQC_DB_USER \
		  --env MISEQQC_DB_PASSWORD --env MISEQQC_DB_SID \
		  --volume=/path/to/RAW_DATA/MiSeq/runs:/mnt/raw_data \
		  cfelab/miseqqc_upload:latest
EnvironmentFile=/etc/miseqqc_upload.conf

# Allow the process to log its exit.
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
